@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face {
  font-family: Eurostile;
  src: url(/assets/fonts/eurostile-font/EuroStyleNormal.ttf);
}
*{ 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}
body{
  overflow-x: hidden;
}
@mixin flex($display,$justify,$direction,$align) {
  display: $display;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}
@mixin padding($ptop,$pright,$pbot,$pleft) {
  padding-top: $ptop;
  padding-right: $pright;
  padding-bottom: $pbot;
  padding-left: $pleft;
}
@mixin margin($mtop,$mright,$mbot,$mleft) {
  margin-top: $mtop;
  margin-right: $mright;
  margin-bottom: $mbot;
  margin-left: $mleft;
}
@mixin pad-fluid() {
  padding-right: 5rem;
  padding-left: 5rem;
}

$white: #FFFFFF;
$white2: #00375C0D;
$white3: #00000029;
$gray: #00000029;
 

@import './layout/nav&footer';
@import './layout/banner';
@import './pages/home';
@import './pages/contact';
@import './pages/blog';
@import './pages/blog-2';
@import './pages/about';
@import './pages/project';
@import './pages/services';

.nopadding{
  padding: 0px !important;
}
/*Full*/
.dis-none-full{
  display: none !important;
}
/*Phone*/
@media (max-width: 425px){
  .dis-none-425{
    display: none;
  }
  .dis-play-425-foot-nav{
    display: flex;
    flex-direction: column;
  }
  .dis-425{
    display: flex !important;
  }
  .proj-arrow{
    @include flex(flex,center,row,center);
    .arr_back{
      position: static;
      height: 55px;
      width: 55px;
      border: 1px solid #001E33;
      border-radius: 50%;
      @include padding(0px,0px,0px,10px);
    }
    .arr_next{
      position: static;
      height: 55px;
      width: 55px;
      border: 1px solid #001E33;
      border-radius: 50%;
      @include padding(0px,0px,0px,10px);
      @include margin(0px,0px,0px,10px);

    }
  }
  .proj-arrow-mobile{
    @include flex(flex,center,row,center);
    @include margin(0rem,0rem,3rem,0rem);
    .arr_back-proj{
      position: static;
      height: 50px;
      width: 50px;
      border: 1px solid #001E33;
      border-radius: 50%;
      @include padding(9px,0px,1px,8px);
      @include margin(0px,0px,0px,10px);
    }
    .arr_next-proj{
      position: static;
      height: 50px;
      width: 50px;
      border: 1px solid #001E33;
      border-radius: 50%;
      @include padding(9px,0px,1px,8px);
      @include margin(0px,0px,0px,10px);
  
    }
  }
}