@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face {
  font-family: Eurostile;
  src: url(/assets/fonts/eurostile-font/EuroStyleNormal.ttf);
}
*{ 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}
body{
  overflow-x: hidden;
}
@mixin flex($display,$justify,$direction,$align) {
  display: $display;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}
@mixin padding($ptop,$pright,$pbot,$pleft) {
  padding-top: $ptop;
  padding-right: $pright;
  padding-bottom: $pbot;
  padding-left: $pleft;
}
@mixin margin($mtop,$mright,$mbot,$mleft) {
  margin-top: $mtop;
  margin-right: $mright;
  margin-bottom: $mbot;
  margin-left: $mleft;
}
@mixin pad-fluid() {
  padding-right: 5rem;
  padding-left: 5rem;
}

$white: #FFFFFF;
$white2: #00375C0D;
$white3: #00000029;
$gray: #00000029;
 

@import './layout/nav&footer';
@import './layout/banner';
@import './pages/home';
@import './pages/contact';
@import './pages/blog';
@import './pages/blog-2';
@import './pages/about';
@import './pages/project';
@import './pages/services';
.banner{
  background: url(../images/banner.webp) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 540px;
  @include flex(flex,center,row,center);
  h1{
    max-width: 1159px;
    min-height: 51px;
    text-align: center;
    font: normal normal normal 60px/75px Eurostile;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
}
.nopadding{
  padding: 0px !important;
}
/*Full*/
.dis-none-full{
  display: none !important;
}
/*Phone*/
@media (max-width: 425px){
  .dis-none-425{
    display: none;
  }
  .dis-play-425-foot-nav{
    display: flex;
    flex-direction: column;
  }
  .dis-425{
    display: flex !important;
  }
}