@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face {
  font-family: Eurostile;
  src: url(/assets/fonts/eurostile-font/EuroStyleNormal.ttf);
}
*{ 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}
body{
  overflow-x: hidden;
}

$white: #FFFFFF;
$white2: #00375C0D;
$white3: #00000029;
$gray: #00000029;
 
@import './mixins';
@import './layout/nav&footer';
@import './layout/banner';
@import './pages/home';
@import './pages/contact';
@import './pages/blog';
@import './pages/blog-2';
@import './pages/about';
@import './pages/project';
@import './pages/services';

.nopadding{
  padding: 0px !important;
}
/*Full*/
.dis-none-full{
  display: none !important;
}
/*Phone*/
@media (max-width: 425px){
  .dis-none-425{
    display: none;
  }
  .dis-play-425-foot-nav{
    display: flex;
    flex-direction: column;
  }
  .dis-425{
    display: flex !important;
  }
  .proj-arrow{
    @include flex(flex,center,row,center);
    .arr_back{
      position: static;
      height: 55px;
      width: 55px;
      border: 1px solid #001E33;
      border-radius: 50%;
      @include padding(0px,0px,0px,10px);
    }
    .arr_next{
      position: static;
      height: 55px;
      width: 55px;
      border: 1px solid #001E33;
      border-radius: 50%;
      @include padding(0px,0px,0px,10px);
      @include margin(0px,0px,0px,10px);

    }
  }
  .proj-arrow-mobile{
    @include flex(flex,center,row,center);
    @include margin(0rem,0rem,3rem,0rem);
    .arr_back-proj{
      position: static;
      height: 50px;
      width: 50px;
      border: 1px solid #001E33;
      border-radius: 50%;
      @include padding(9px,0px,1px,8px);
      @include margin(0px,0px,0px,10px);
    }
    .arr_next-proj{
      position: static;
      height: 50px;
      width: 50px;
      border: 1px solid #001E33;
      border-radius: 50%;
      @include padding(9px,0px,1px,8px);
      @include margin(0px,0px,0px,10px);
  
    }
  }
}