.Project-page{
  @include margin(5rem,0rem,5rem,0rem);
  .container{
    .project-container{
      @include margin(5rem,0rem,5rem,0rem);
      position: relative;
      .project-image{
        width: 100%;
        opacity: 40%;
        transition: linear .5s;
      }
      .project-head2{
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 5%;
        text-align: left;
        font: normal normal bold 35px/32px Eurostile;
        letter-spacing: 1.05px;
        color: #00375C;
        text-shadow: 0px 3px 6px #00000029;
        text-transform: uppercase;
        transition: linear .5s;
      }
      h6{
        position: absolute;
        z-index: 2;
        top: 65%;
        left: 5%;
        text-align: left;
        font: normal normal medium 20px/30px Montserrat;
        letter-spacing: 0.4px;
        color: #00375C;
        transition: linear .5s;
      }
      h5{
        position: absolute;
        z-index: 2;
        top: 85%;
        left: 5%;
        text-align: left;
        font: normal normal bold 28px/36px Eurostile;
        letter-spacing: 0.56px;
        color: #00375C;
        transition: linear .5s;
      }
      &:hover{
        .project-image{
          width: 100%;
          opacity: 100%;
        }
        .project-head2{
          position: absolute;
          z-index: 2;
          top: 10%;
          left: 5%;
          text-align: left;
          font: normal normal bold 35px/32px Eurostile;
          letter-spacing: 1.05px;
          color: white;
          text-shadow: 0px 3px 6px #00000029;
          text-transform: uppercase;
        }
        h6{
          position: absolute;
          z-index: 2;
          top: 65%;
          left: 5%;
          text-align: left;
          font: normal normal medium 20px/30px Montserrat;
          letter-spacing: 0.4px;
          color: white;
        }
        h5{
          position: absolute;
          z-index: 2;
          top: 85%;
          left: 5%;
          text-align: left;
          font: normal normal bold 28px/36px Eurostile;
          letter-spacing: 0.56px;
          color: white;
        }
      }
    }
  }
}
.projects-mobile{
  display: none;
}
.proj-arrow-mobile{
  display: none;
}
/*Phone*/
@media (max-width: 425px){
.proj-arrow-mobile{
  @include flex(flex,center,row,center);
  @include margin(0rem,0rem,3rem,0rem);
  .arr_back-proj{
    position: static;
    height: 50px;
    width: 50px;
    border: 1px solid #001E33;
    border-radius: 50%;
    @include padding(9px,0px,1px,8px);
    @include margin(0px,0px,0px,10px);
  }
  .arr_next-proj{
    position: static;
    height: 50px;
    width: 50px;
    border: 1px solid #001E33;
    border-radius: 50%;
    @include padding(9px,0px,1px,8px);
    @include margin(0px,0px,0px,10px);

  }
}
}