.BIM{
  @include margin(10rem,0rem,10rem,0rem);
  .container{
    padding: 0px !important;
    .info-serv{
      @include flex(flex,center,column,center);
      @include margin(10rem,0rem,0rem,0rem);
      h1{
        max-width: 600px;
        min-height: 45px;
        text-align: left;
        font: normal normal bold 26px/34px Eurostile;
        letter-spacing: 0.52px;
        color: #00375C;
        text-transform: uppercase;
      }
      ul{
        padding-left: .5rem !important;
        li{
          max-width: 430px;
          min-height: 10px;
          text-align: left;
          font: normal normal medium 18px/10px Montserrat;
          letter-spacing: 0.36px;
          color: #00375C;
          line-height: 1.8;
          &::marker{
            content: '⬥';
            color: #0099DC;
          }

        }
      }
    }
    .BIM-img{
      width: 100%;
      max-width: 826px;
    }
  }
}

@media (max-width: 991px){
  .BIM{
    @include margin(5rem,0rem,5rem,0rem);
    .container{
      padding: 0px !important;
      .info-serv{
        @include flex(flex,center,column,center);
        @include margin(5rem,0rem,5rem,0rem);
        h1{
          max-width: 600px;
          min-height: 45px;
          text-align: left;
          font: normal normal bold 26px/34px Eurostile;
          letter-spacing: 0.52px;
          color: #00375C;
          text-transform: uppercase;
        }
        ul{
          padding-left: .5rem !important;
          li{
            max-width: 430px;
            min-height: 10px;
            text-align: left;
            font: normal normal medium 18px/10px Montserrat;
            letter-spacing: 0.36px;
            color: #00375C;
            line-height: 1.8;
            &::marker{
              content: '⬥';
              color: #0099DC;
            }
  
          }
        }
      }
      .BIM-img{
        width: 100%;
        max-width: 826px;
      }
    }
  }

}
@media (max-width: 425px){
  .BIM{
    @include margin(2rem,0rem,5rem,0rem);
    .container{
      padding: 1rem !important;
      .info-serv{
        @include flex(flex,center,column,center);
        @include margin(2rem,1rem,2rem,1rem);
        h1{
          width: 100%;
          max-width: 400px;
          min-height: 45px;
          text-align: left;
          font: normal normal bold 26px/34px Eurostile;
          letter-spacing: 0.52px;
          color: #00375C;
          text-transform: uppercase;
        }
        ul{
          padding-left: .5rem !important;
          li{
            max-width: 430px;
            min-height: 10px;
            text-align: left;
            font: normal normal medium 18px/10px Montserrat;
            letter-spacing: 0.36px;
            color: #00375C;
            line-height: 1.8;
            &::marker{
              content: '⬥';
              color: #0099DC;
            }
  
          }
        }
      }
      .BIM-img{
        width: 100%;
        max-width: 826px;
      }
    }
  }
}