.services-header{
  /* The image used */
  background-image: url("../images/Service-header.webp");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1{
    max-width: 1024px;
    min-height: 34px;
    text-align: center;
    font: normal normal normal 60px/75px Eurostile;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
}
.services-main{
  background: #00375C0D 0% 0% no-repeat padding-box;
  .container{
    @include padding(5rem,0rem,5rem,0rem);
    .latest-news{
      @include flex(flex,center,row,center);
      @include padding(0rem,0rem,5rem,0rem);
      h1{
        max-width: 925px;
        min-height: 73px;
        text-align: center;
        line-height: 75px;
        font-size: 60px;
        font-family:Eurostile;
        font-weight: bold;
        letter-spacing: 0px;
        color: #00375C;
        text-transform: uppercase;
      }
    }
    .news{
      @include margin(1rem,0rem,1rem,1rem);

      h2{
        width: 100%;
        max-width: 450px;
        min-height: 103px;
        text-align: left;
        font-size: 26px;
        line-height: 34px;
        font-family: Eurostile;
        font-weight: bold;
        letter-spacing: 0.52px;
        color: #00375C;
        text-transform: uppercase;
      }
      h3{
        text-align: left;
        font: normal normal 600 12px/40px Montserrat;
        letter-spacing: 0.24px;
        color: #0099DC;
      }
      .service-img{
        max-width: 100%;

        @include margin(.5rem,0rem,.5rem,0rem);
      }
      h6{
        max-width: 413px;
        min-height: 150px;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        font-family:Montserrat;
        font-weight: bold;
        letter-spacing: 0.36px;
        color: #00375C;
      }
      h5{
        width: 123px;
        height: 29px;
        text-align: left;
        font-size: 22px;
        line-height: 20px;
        font-family:Eurostile;
        font-weight: bold;
        letter-spacing: 0.44px;
        color: #00375C;
      }
    }
    button{
      @include margin(3rem,0rem,2rem,0rem);
      width: 306px;
      min-height: 70px;
      background: transparent linear-gradient(312deg, #1A99DC 0%, #04375C 100%) 0% 0% no-repeat padding-box;
      border-radius: 50px;
      border: none;
      text-align: center;
      font: normal normal bold 24px/5px Eurostile;
      letter-spacing: 3px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1360px) {
  .services-main{
    .container{
      .news{
        h2{
          min-height: 150px;
        }
      }
    }
  }
}
@media (max-width: 425px){
  .services-header{
    /* The image used */
    background-image: url("../images/Service-header.webp");
    height: 50vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex(flex,center,row,center);
    h1{
      margin: 0px !important;
      margin-top: 4rem!important;
      max-width: 1024px;
      min-height: 24px;
      text-align: center;
      font: normal normal normal 22px/26px Eurostile;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
  .services-main{
    background: #00375C0D 0% 0% no-repeat padding-box;
    .container{
      @include padding(5rem,0rem,5rem,0rem);
      .latest-news{
        @include flex(flex,center,row,center);
        @include padding(0rem,0rem,5rem,0rem);
        h1{
          max-width: 925px;
          min-height: 73px;
          text-align: center;
          line-height: 75px;
          font-size: 60px;
          font-family:Eurostile;
          font-weight: bold;
          letter-spacing: 0px;
          color: #00375C;
          text-transform: uppercase;
        }
      }
      .news-items{
        .items{
          @include flex(flex,center,row,center);
          .news{
            @include margin(1rem,2rem,1rem,2rem);
            padding: 0px !important;
            h2{
              width: 350px;
              min-height: 103px;
              text-align: left;
              font-size: 26px;
              line-height: 34px;
              font-family: Eurostile;
              font-weight: bold;
              letter-spacing: 0.52px;
              color: #00375C;
              text-transform: uppercase;
            }
            h3{
              max-width: 387px;
              min-height: 10px;
              text-align: left;
              font-size: 20px;
              line-height: 10px;
              font-family: Montserrat;
              font-weight:900;
              letter-spacing: 0.4px;
              color: #0099DC;
            }
            .service-img{
              max-width: 100%;
      
              @include margin(.5rem,0rem,.5rem,0rem);
            }
            h6{
              max-width: 387px;
              min-height: 120px;
              text-align: left;
              font-size: 18px;
              line-height: 30px;
              font-family:Montserrat;
              font-weight: bold;
              letter-spacing: 0.36px;
              color: #00375C;
            }
            h5{
              width: 123px;
              height: 29px;
              text-align: left;
              font-size: 22px;
              line-height: 20px;
              font-family:Eurostile;
              font-weight: bold;
              letter-spacing: 0.44px;
              color: #00375C;
            }
          }
        }
      }
      button{
        @include margin(3rem,0rem,2rem,0rem);
        width: 306px;
        min-height: 70px;
        background: transparent linear-gradient(312deg, #1A99DC 0%, #04375C 100%) 0% 0% no-repeat padding-box;
        border-radius: 50px;
        border: none;
        text-align: center;
        font: normal normal bold 24px/5px Eurostile;
        letter-spacing: 3px;
        color: #FFFFFF;
        text-transform: uppercase;
      }
    }
  }
}